n8n_chat_frontend/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        400,
        -16
      ],
      "id": "639312a7-1786-4721-8e93-58dc007a544d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "amazon/nova-2-lite-v1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        240,
        304
      ],
      "id": "a7b27f9d-4951-49da-87a0-4e3b49aa9db8",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fStlHR6sBoj8t5Vm",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        -16
      ],
      "id": "a5478e83-4bf1-4f99-a41b-27675fbfbcfd",
      "name": "Webhook",
      "webhookId": "bd985a31-d832-4896-a3e2-d9c29e7ce279"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        720,
        -32
      ],
      "id": "b49fe731-cb42-48c5-8ea9-8d3cf290f1ab",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        112,
        208
      ],
      "id": "a0f1879a-e726-446a-ba47-79264f0c0850",
      "name": "When chat message received",
      "webhookId": "5f1d9c0a-fdf5-4c59-b1df-9ff498588730"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e3502ba-0bef-4de9-a3be-b3fe244b84e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "295b1aea41f83ffc62792aa2d7d73ff02991ac4607245b42014338713242cda4"
  },
  "id": "hG4CuI2bJr7LHx7q",
  "tags": []
}